header {
  text-align: center;
  padding: 60px 0 85px;
}
section {
  padding: 100px 0;
  box-shadow: inset 0px 1px 3px #888;
  box-shadow: 0px 3px 2px 0px #888;
  background-repeat: repeat;
  text-align: center;
  text-shadow: 1px 1px #E6E6E6;
}
section p {
  margin: 0 0 5px;
  width: 850px;
  margin-left: 15%;
  text-align: left;
}
body {
  font-family: "Junction";
  font-size: 16px;
  line-height: 32px;
  background-image: url('/images/bg-gray-3.png');
}
h1 {
  margin: 44px 0;
  font-family: "Jura";
  font-size: 50px;
  text-shadow: 2px 4px #E6E6E6;
}
h2 {
  margin: 0px 0px 40px;
  font-family: "Jura";
  text-shadow: 1px 2px #E6E6E6;
  font-size: 40px;
}
h3 {
  font-size: 22px;
  font-family: "Junction";
  text-transform: uppercase;
  color: #333;
  padding: 30px 0 0;
  text-shadow: 1px 2px #E6E6E6;
}
h4 {
  font-size: 16px;
  font-family: "Junction";
  text-transform: uppercase;
  color: #585858;
  text-shadow: 1px 2px #E6E6E6;
}
#what_is_the_call {
  box-shadow: none;
  color: white;
  background-image: url('/images/bg-blue-3.png');
  text-shadow: 1px 1px #505050;
}
#what_is_the_call h2 {
  text-shadow: 1px 2px #505050;
}
#what_is_the_call .chuck {
  font-size: 17px;
}
#main_two_requirements {
  color: white;
  text-shadow: 1px 1px #505050;
  background-image: url('/images/bg-blue-5.png');
}
#main_two_requirements .row {
  margin-top: 30px;
}
#main_two_requirements h2 {
  text-shadow: 1px 2px #505050;
}
#main_two_requirements p {
  text-align: left;
  width: 700px;
  margin-left: 21%;
}
#main_two_requirements i {
  margin-right: 15px;
}
#three_months_in_parati {
  color: white;
  text-shadow: 1px 1px #505050;
  background-image: url('/images/bg-green-1.png');
}
#three_months_in_parati .row {
  margin-top: 30px;
}
#three_months_in_parati h2 {
  text-shadow: 1px 2px #505050;
}
#three_months_in_parati .img_border {
  margin: auto;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: rgba(235, 235, 235, 0.35);
  padding: 4px;
  width: 380px;
}
#three_months_in_parati .img_border img {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  width: 380px;
}
#main_location {
  color: white;
  text-shadow: 1px 1px #505050;
  background-image: url('/images/bg-green-2.png');
}
#main_location h2 {
  text-shadow: 1px 2px #505050;
}
#the_team {
  color: white;
  text-shadow: 1px 1px #505050;
  background-image: url('/images/bg-purple-5.png');
}
#the_team .row {
  margin-top: 30px;
}
#the_team h2 {
  text-shadow: 1px 2px #505050;
}
#the_team .img_border {
  margin: auto;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: rgba(235, 235, 235, 0.35);
  padding: 4px;
  width: 560px;
  height: 315px;
  margin-top: 40px;
}
#compensation {
  color: white;
  text-shadow: 1px 1px #505050;
  background-image: url('/images/bg-purple-1.png');
}
#compensation h2 {
  text-shadow: 1px 2px #505050;
}
#openings h3 {
  padding-bottom: 25px;
}
#openings p {
  text-align: left;
  width: 800px;
  margin-left: 17%;
}
#openings i {
  margin-right: 15px;
}
#openings .btn {
  padding: 17px 215px;
  font-size: 32px;
  margin-top: 70px;
  padding: 17px 215px;
  font-size: 32px;
  margin-top: 70px;
  font-family: Jura;
  text-transform: uppercase;
}
#openings .btn a {
  color: white;
}
.chunk {
  font-family: "Chunk";
}
footer {
  text-align: left;
  padding: 20px 0 45px;
}
