doctype 5
html(lang="en")
  head
    title= title
    != stylesheet_link_tag('bootstrap.min.css?1', 'MyFontsWebfontsKit.css?1', 'style.css?1', 'bootstrap-responsive.css?1')
    != javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', 'bootstrap.js?1', 'rails.js?1', 'application.js?1')
  body
    //- .navbar.navbar-fixed-top
    //-   .navbar-inner
    //-     .container
    //-       ul.nav
    //-         li.active
    //-           a.brand(href="#")
    //-             | home
    //-       ul.nav
    //-         li
    //-           a(href="#what_is_the_call")
    //-             | What is The Call

    
    .container
      - var flash = request.flash('info').pop(); if (flash)
        .alert.alert-info
          //-         <a class="close" data-dismiss="alert">×</a>
          //-         <%- flash %>
          //-     </div>
          //- <% } %>
          
          //- <% flash = request.flash('error').pop(); if (flash) { %>
          //-     <div class="alert alert-error">
          //-         <a class="close" data-dismiss="alert">×</a>
          //-         <%- flash %>
          //-     </div>
          //- <% }; %>

    block content
      yield
    hr
    footer
      .container
        img#main_image(src='images/ptc1.png')

