doctype 5
html(lang="en")
  head
    title= title
    != stylesheet_link_tag('bootstrap', 'style', 'bootstrap-responsive')
    != javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', 'bootstrap', 'rails', 'application')
  body
    .navbar
      .navbar-inner
        .container
          ul.nav
            li.active
              a.brand(href="#")
                | home
          ul.nav
            li.active
              a(href="#")
                | What is The Call

    
    .container
      - var flash = request.flash('info').pop(); if (flash)
        .alert.alert-info
          //-         <a class="close" data-dismiss="alert">×</a>
          //-         <%- flash %>
          //-     </div>
          //- <% } %>
          
          //- <% flash = request.flash('error').pop(); if (flash) { %>
          //-     <div class="alert alert-error">
          //-         <a class="close" data-dismiss="alert">×</a>
          //-         <%- flash %>
          //-     </div>
          //- <% }; %>

      block content
        yield
      hr
      footer
        p &copy; Company 2012

